@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.main {
  background-color: #ffffff;
  width: auto;
  height: auto;
  display: flex;
  min-height: 100vh;
}
.main .view {
  background-color: inherit;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .view .input-group {
  width: 80%;
}
.main .view .input-group .search-input {
  width: 100%;
  position: relative;
  padding: 10px 10px;
  border: 2px solid rgba(129, 0, 250, 0.8274509804);
}
.main .view .input-group .search-input:focus {
  outline: none;
}
.main .view .input-group .btn {
  position: absolute;
  right: 0;
  border: none;
}
.main .view .input-group .btn span {
  margin-top: 2.5px;
  font-size: 2rem;
  color: rgba(129, 0, 250, 0.8274509804);
}
.main .view .table {
  margin: 0;
  border: 1px solid rgba(88, 88, 88, 0.911);
  box-shadow: 10px 10px 10px 1px rgba(128, 128, 128, 0.753);
}
.main .view .table .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.main .view .table .edit, .main .view .table .delete {
  padding: 0px 5px 0px 5px;
  background-color: inherit;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}
.main .view .table .edit {
  color: rgba(129, 0, 250, 0.8274509804);
}
.main .view .table .delete {
  color: rgb(255, 0, 0);
}
.main .control {
  background-color: inherit;
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 40%;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main .control .error {
  color: red;
  font-size: larger;
  font-weight: 500;
  align-self: center;
  padding-top: 10px;
  display: none;
}
.main .control form {
  padding: 10px 10px;
}
.main .control form .form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid rgba(129, 0, 250, 0.8274509804);
  margin-bottom: 10px;
}
.main .control form .buttons {
  display: flex;
  gap: 1rem;
}
.main .control form .save {
  background-color: rgba(129, 0, 250, 0.8274509804);
  color: #ffffff;
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px rgba(167, 0, 189, 0.5058823529);
}
.main .control form .cancel {
  background-color: #810202;
  color: #ffffff;
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px rgba(240, 0, 0, 0.4784313725);
  display: none;
}
.main .control .card.form {
  border: none;
}
.main .card {
  border: none;
  width: 80%;
  align-self: center;
  background-color: inherit;
}
.main .card .form-control:focus {
  border-color: #0a690a;
  box-shadow: none;
}
.main .card .wrong {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

@media only screen and (max-device-width: 952px) {
  body {
    font-size: 1.3rem;
  }
  .main {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    padding: 50px 0px;
  }
  .main .view {
    width: 100%;
  }
  .main .view .table {
    border: 1px solid rgba(88, 88, 88, 0.911);
    box-shadow: 10px 10px 10px 1px rgba(128, 128, 128, 0.753);
  }
  .main .control {
    width: 100%;
    margin-bottom: 3em;
    top: 0;
    flex: 0;
    box-shadow: 10px 10px 10px 1px rgba(128, 128, 128, 0.753);
  }
  .main .control .form {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=index.css.map */